#include "windows.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Vista manifest
//
#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
# define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

#ifndef RT_MANIFEST
# define RT_MANIFEST MAKEINTRESOURCE(24)
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID  RT_MANIFEST  "ls.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4, 8, 334, 1
 PRODUCTVERSION 4, 8, 334, 1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "U-Tools Software LLC\0"
            VALUE "FileDescription", "LS\0"
            VALUE "FileVersion", "4.8.334.1\0"
            VALUE "InternalName", "LS\0"
            VALUE "LegalCopyright", "Copyright (c) 2018, U-Tools Software LLC\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "LS.EXE\0"
            VALUE "ProductName", "Windows LS\0"
            VALUE "ProductVersion", "4.8.334.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
