#
# .gitattributes
#

*.{bat,[bB][aA][tT]}    text eol=crlf
*.{cmd,[cC][mM][dD]}    text eol=crlf

.gitattributes          text eol=lf
.gitignore              text eol=lf
.editorconfig           text eol=lf

Makefile.nmake          text eol=lf
Makefile.nmake.core     text eol=lf

#
# README.mkd must use crlf so that it is correctly displayed
# during installation with WinZip Self-Extractor.
#
README.mkd              text eol=crlf
